@font-face {
  font-family: 'Noto-Bold';
  src: url('../assets/fonts/NotoSerif-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto-BoldItalic';
  src: url('../assets/fonts/NotoSerif-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto-Italic';
  src: url('../assets/fonts/NotoSerif-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto-Regular';
  src: url('../assets/fonts/NotoSerif-Regular.ttf') format('truetype');
}
